<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Navbar</a>
    {{#if isLogin}}
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-dark" >Logout</button>
        </form>
    {{else}}
        <div>
            <a class="btn btn-dark" href="/login" role="button">Login</a>
            <a class="btn btn-dark" href="/register" role="button">Register</a>
        </div>
    {{/if}}
</nav>
